<div class="container" style="background-image: url('<%= asset_path('andrew.jpg') %>'">
    <div class ="hero">
        <div class="hero-titleh">
            <h1 class="header_title">Is it worth it? Let me work it!</h1>
        </div>

        <div class="hero-divider"></div>

        <div class="hero-subtitleh">
            <h2 class="comeon">Fay's Subscription Utilization Tracker</h2>
        </div>

        <div class ="logoh">
            <%= image_tag("ocean.png", style: "display:flex; margin: 20px auto; width: 200px; height: auto;") %>
        </div>
        <div class="options">
            <%= link_to "View existing", memberships_path, class: "btn" %>
            <%= link_to "Add new", swims_path, class: "btn" %>
        </div>
    </div>
</div>